[Desktop Entry]
Version=1.0
Name=Guapcoin Core
Comment=Guapcoin P2P Cryptocurrency
Comment[fr]=Guapcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Guapcoin, eşten eşe kriptografik sanal para birimi
Exec=guapcoin-qt %u
Terminal=false
Type=Application
Icon=guapcoin128
MimeType=x-scheme-handler/guapcoin;
Categories=Office;Finance;
StartupWMClass=Guapcoin-qt
